/* popains font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* popains font */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.btn-primary{
     background-color: rgba(224, 44, 109, 1);
     color: white;
     border-radius: 41px;
     padding: 10px 24px;
   
}
/* header styles */
 .header{
    max-width: 1140px;
    margin: 0 auto;
 }
/* nav related styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navitems{
    display: flex;
    list-style: none;
    
}
.navitem{
    margin-right: 34px;
}
.navlink{
    text-decoration: none;
    color: rgba(58, 58, 58, 1);
    font-size: 1rem;
    font-weight: 600;
}

.nav-title{
    font-weight: bold;
    font-size: 1.5rem;
}
/* banner related styles */
.banner-container{
    display: flex;
    gap: 130px;
    margin-top: 50px;
}
/* part-1 banner text */
.banner-text{
    max-width: 580px;
}
.banner-title{
    font-weight: bold;
    font-size: 3.25rem;
}
.banner-description{
    font-weight: 600;
    font-size: 1rem;
}
/* part-2 banner images */
.cam-bg-img{
     position: relative;
}
.cam-img{
    position: absolute;
     top: 30px;
     left: 20px; 
}
#img{
    width: 100%;
}

/* temporary */
.display-hidden{
   display: none;
}





/* responsive for small devices */

@media screen and (max-width:576px) {

    .navbar,.navitems{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 0;
       
    }
    .banner-text{
          margin-top: 15px;
          text-align: center;
    }
    .banner-description{
          margin-top: 15px;
    }
    .banner-images{
        margin: 0px 50px;

    }
}
/* responsive for meadum devices */
    @media screen and (min-width:577px) and (max-width:768px) {
          .header{
            margin: 0 auto;
          }
          .banner-container{
            gap: 20px;
          }
    }
